<div class="table-wrapper" id="scroll-wrapper">
    <table>
        <thead>
            <tr>
                <th style="width: 15%">Rang</th>
                <th style="width: 60%">Nom</th>
                <th class="col-right" style="width: 25%">Points</th>
            </tr>
        </thead>
        <tbody id="table-body">
            <tr id="loading-row">
                <td colspan="3" class="loading-status">
                    <div class="empty-state">
                        <div class="loading-spinner"></div>
                        <div class="empty-text">Chargement des données...</div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>