<!-- PENALTY SCORE -->
<div class="tm-penalty-section-matchup" id="penalty-<%= teamKey %>-matchup">
    <span class="tm-penalty-icon-matchup"></span>
    <span class="tm-penalty-label-matchup">Tirs au but</span>
    <span class="tm-penalty-score-matchup" id="penalty-score-<%= teamKey %>-matchup">-</span>
</div>

<!-- GOAL SCORERS -->
<div class="tm-goal-events-matchup" id="events-<%= teamKey %>-matchup"></div>